@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html body {
    min-height: 100vh;
    width: 100%;
}

ul {
    text-decoration: none;
    padding: 20px;
}

p {
    margin-top: 8px;
    font-size: 14px;
    color: #A9A9A9;
    text-align: center;
}

li {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    background-color: #E5E5E5;
    border-radius: 10px;
    margin-right: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #000000;
}

span {
    color: #BDBDBD;
    padding: 7px;
    font-size: 12px;
}


.container {
    width: 1140px;
    margin: 0 auto;
    font-size: 16px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}


.image img{
    width: 110px;
    height: 110px;
    border-radius: 38%;
}

.name {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}



.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 9rem);
    grid-template-rows: repeat(3, 9rem);
    justify-content: center;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
    
.img1 { grid-area: 1 / 1 / 2 / 2; 
    width: 97%;
}
.img2 { grid-area: 1 / 2 / 2 / 4;
    width: 98%;
}
.img3 { grid-area: 2 / 1 / 3 / 3; }
.img4 { grid-area: 3 / 1 / 4 / 2; }
.img5 { grid-area: 3 / 2 / 4 / 3; }
.img6 { grid-area: 2 / 3 / 4 / 4; 
    width: 98%;
}


    @media only screen and (max-width:480px) {
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100vh;
        }

        .gallery {
            width: 100%;
            grid-template-columns: repeat(3, 7rem);
            grid-template-rows: repeat(3, 7rem);
            justify-content: center;
            grid-column-gap: 7px;
            grid-row-gap: 7px;
        }

        .header {
            margin-bottom: 20px;
        }

        .name {
            font-size: 18px;
        }

        .img6 { 
            width: 98%;
        }
        a {
            padding: 20px;
        }
    }